@model LineEfficiencySystem.Models.StationInput

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StationInput</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Operator.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operator.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Station.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Station.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StationInputId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
